<h1>LOGIN PAGE</h1>
<form action="/sessions" method="post">
  <input type="text" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Login!">
</form>
