<h1>PROFILE PAGE</h1>

<% if current_user %>
  <h2>Welcome <%= current_user.name %>!</h2>

<% end %>

<h1>Here are your questions</h1>

  <% @user.questions.each do |question|%>
    <%= question.question_title%>
  <%end%>